.excerpt {
	@include clearfix;
	margin-bottom: $gutter;
	padding-bottom: $gutter;
	border-bottom: 1px solid $grey;
}

.excerpt__main {
	max-width: calc(100% - 200px);
	float: left;
}

.excerpt__title {
	margin: 0;
}

.excerpt__title__link,
.excerpt__title__link:visited {
	text-decoration: none;
}

.excerpt__sticky-icon {
	width: 1.2em;
    height: 1.2em;
    display: inline-block;
    vertical-align: top;
    fill: grey;
}

.excerpt__content {
	margin-bottom: $quarter-gutter;
}

.excerpt__image {
	max-width: 200px;
	float: right;
	padding-left: $half-gutter;
}
