.post-header {
	width: 100%;
	margin: 0 auto $gutter;
	padding: 0 $half-gutter;
	max-width: $content-width;
}

.post-header .wp-post-image {
	display: block;
	width: 100%;
}

.post-header .post-date {
	margin-bottom: $half-gutter;
}

.post-header__title {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}
