.site-footer {
	clear: both;
	width: 100%;
	color: $white;
	background-color: $grey-dark;
	padding: $gutter $half-gutter;
}

.site-footer__container {
	margin: 0 auto;
	max-width: $content-width;
}

.site-footer__navigation {
	width: 100%;
	margin-bottom: $gutter;
}

.site-footer__misc {
	width: 100%;
	text-align: center;
}

.site-footer__misc .social {
	margin-bottom: $gutter;
}

.sitefooter__copyright {
	width: 100%;
	font-size: 14px;
	text-align: center;
}
